/* USAGE:
@import '... /utils/center.css';
...
@mixin center;
*/

@define-mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@define-mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@define-mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}